<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Edit</title>
</head>

<body>
  <div class="container">
    <div class="form">
      <h1>Edit Homework: {{_id}}</h1>
      <form method="POST">
        <input name="title" type="text" value="{{title}}">
        <button type="submit" id="submit">Edit</button>
        <input type="reset" value="Clear">
      </form>
      <a class="back" href="/homework">Back</a>
    </div>
  </div>
</body>


</html> 