<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Homeworks</title>
</head>

<body>
    <ol>
      {{#homeworks}}
      <li>
        <a href="/homework-details/{{_id}}">{{title}}</a>
      <a href="/edit-homework/{{_id}}">Edit</a>
        <a href="/delete-homework/{{_id}}">Delete</a>
      </li>
      {{/homeworks}}
    </ol>
    <div class="create-homework">
      <a href="/create-homework">Create Homework</a>
    </div>
</body>

</html>